<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Report_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Report_Generator.Properties.Settings>
            <setting name="programFilesDirectory" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="currentReferences" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="attorneyFirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="attorneyLastName" serializeAs="String">
                <value />
            </setting>
            <setting name="clientFirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="clientLastName" serializeAs="String">
                <value />
            </setting>
            <setting name="attorneyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="physicianSignature" serializeAs="String">
                <value />
            </setting>
            <setting name="msrIntroduction" serializeAs="String">
                <value />
            </setting>
            <setting name="msrRecordsReviewed" serializeAs="String">
                <value />
            </setting>
            <setting name="msrHistory" serializeAs="String">
                <value />
            </setting>
            <setting name="msrReviewOfRecords" serializeAs="String">
                <value />
            </setting>
            <setting name="msrOngoingMedicalProblems" serializeAs="String">
                <value />
            </setting>
            <setting name="msrMedicalChargesToDate" serializeAs="String">
                <value />
            </setting>
            <setting name="msrFutureCareAndCosts" serializeAs="String">
                <value />
            </setting>
            <setting name="msrDiscussion" serializeAs="String">
                <value />
            </setting>
            <setting name="msrSummary" serializeAs="String">
                <value />
            </setting>
            <setting name="msrReferences" serializeAs="String">
                <value />
            </setting>
            <setting name="imerHPI" serializeAs="String">
                <value />
            </setting>
            <setting name="imerCurrentSymptoms" serializeAs="String">
                <value />
            </setting>
            <setting name="imerMedicalRecordReview" serializeAs="String">
                <value />
            </setting>
            <setting name="imerPhysicalExamination" serializeAs="String">
                <value />
            </setting>
            <setting name="imerAssessment" serializeAs="String">
                <value />
            </setting>
            <setting name="imerReferences" serializeAs="String">
                <value />
            </setting>
            <setting name="imerIsNew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="msrIsNew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="socIsNew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="socBriefHistoryOfEvents" serializeAs="String">
                <value />
            </setting>
            <setting name="socQuestionOfSubstandardCare" serializeAs="String">
                <value />
            </setting>
            <setting name="socReferences" serializeAs="String">
                <value />
            </setting>
            <setting name="rqrIsNew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rqrMainPage" serializeAs="String">
                <value />
            </setting>
            <setting name="rqrReferences" serializeAs="String">
                <value />
            </setting>
        </Report_Generator.Properties.Settings>
    </userSettings>
</configuration>